In [36]:
import pandas as pd
import graphlab as gl
from random import random
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import word_tokenize

In [2]:
# clean pairs data
def clean_pair_date(sf):
    sf.rename({'X1': 'lender_id', 'X2': 'loan_id'})
    sf['loan_id'] = sf['loan_id'].astype(str)
    sf['lender_id'] = sf['lender_id'].astype(str)
    return sf


# clean loan data
def clean_loan_data(df):
    # drop columns
    df = df.drop(['paid_date', 'planned_expiration_date', 'languages'], axis=1)

    # drop duplicates
    df = df.drop_duplicates('id')

    # drop duplicate header
    df = df[df['activity'] != 'activity']

    # drop nas
    df = df.dropna(subset=['earliest_scheduled_payment', 'last_scheduled_payment',
                           'repayment_interval', 'posted_date',
                           'status', 'repayment_term', 'use'], how='any')

    # fill paid_amount's na with zero
    df['paid_amount'] = df['paid_amount'].fillna(0)

    # fill genders
    df['gender'] = df['gender'].map(lambda x: 'M' if random() <= 0.39 else 'F')
    df['gender'] = df['gender'].map(lambda x: 1 if x == 'F' else 'M')

    # fill null descriptions with empty string
    df['descriptions'] = df['descriptions'].fillna(0)

    # binaralize bonus credit
    df['bonus_credit_eligibility'] = df['bonus_credit_eligibility'].map(lambda x: 1 if x == 'True' else 0)

    # convert some columns to datetime
    df['earliest_scheduled_payment'] = df['earliest_scheduled_payment'].map(
        lambda x: pd.to_datetime(x, format='%Y-%m-%dT%H:%M:%SZ'))
    df['last_scheduled_payment'] = df['last_scheduled_payment'].map(
        lambda x: pd.to_datetime(x, format='%Y-%m-%dT%H:%M:%SZ'))
    df['posted_date'] = df['posted_date'].map(
        lambda x: pd.to_datetime(x, format='%Y-%m-%dT%H:%M:%SZ'))

    # convert some columns to int
    df['lender_count'] = df['lender_count'].astype('int64')
    df['loan_amount'] = df['loan_amount'].astype('int64')
    df['paid_amount'] = df['paid_amount'].astype('float64').astype('int64')
    df['repayment_term'] = df['repayment_term'].astype('float64')

    return df


def drop_unexsiting_loan_ids(sf, df):
    loan_ids_in_pairs = sorted(list(sf['loan_id'].unique()))
    loan_ids_in_loans = sorted(list(df['id'].values))
    loan_ids_intersection = set(loan_ids_in_loans) & set(loan_ids_in_pairs)
    # drop useless loan_ids in sf
    sf['loan_id'] = sf['loan_id'].apply(lambda x: x if x in loan_ids_intersection else None)
    sf = sf.dropna('loan_id')
    # drop useless loan_ids in df
    df['id'] = df['id'].map(lambda x: x if x in loan_ids_intersection else None)
    df = df.dropna()
    return sf, df

In [27]:
df = pd.read_csv('data/loans.csv', delimiter=',')
df = clean_loan_data(df)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 824505 entries, 0 to 842841
Data columns (total 21 columns):
activity                      824505 non-null object
bonus_credit_eligibility      824505 non-null int64
id                            824505 non-null object
lender_count                  824505 non-null int64
loan_amount                   824505 non-null int64
paid_amount                   824505 non-null int64
partner_id                    824505 non-null object
posted_date                   824505 non-null datetime64[ns]
sector                        824505 non-null object
status                        824505 non-null object
use                           824505 non-null object
gender                        824505 non-null object
family                        824505 non-null object
descriptions                  824505 non-null object
image_id                      824505 non-null object
image_template_id             824505 non-null object
country                       824505 non-null object
repayment_term                824505 non-null float64
repayment_interval            824505 non-null object
earliest_scheduled_payment    824505 non-null datetime64[ns]
last_scheduled_payment        824505 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(4), object(13)
memory usage: 138.4+ MB

## Get features!!!!!!!
- bonus credit eligibility
- loan_amount
- posted_date =>
 - 4 seasons: dummy variable in {0, 1, 2, 3}
- Tfidf of use
- gender
- family
- country
- repayment term
- repayment interval => dummy variable in {0, 1, 2}

In [29]:
raw_features = df[['bonus_credit_eligibility', 'loan_amount', 'posted_date',
                   'use', 'gender', 'family', 'country', 'repayment_term',
                   'repayment_interval', 'id']]

In [34]:
# dummify posted_date to seasons
def convert_to_season(x):
    m = x.month
    if m < 4:
        return 'Spring'
    elif m < 7:
        return 'Summer'
    elif m < 11:
        return 'Fall'
    else:
        return 'Winter'

raw_features['season'] = raw_features['posted_date'].map(lambda x: convert_to_season(x))
raw_features = pd.concat([raw_features, pd.get_dummies(raw_features['season'], prefix='season_')], axis=1)
raw_features = raw_features.drop(['season'], axis=1)

In [51]:
# dummify repayment_interval
raw_features = pd.concat([raw_features,
                          pd.get_dummies(raw_features['repayment_interval'], prefix='repayment_interval_')],
                          axis=1)
raw_features = raw_features.drop(['repayment_interval'], axis=1)

In [37]:
# get tfidf of use
def tokenize(doc):
    '''
    INPUT: string
    OUTPUT: list of strings

    Tokenize and stem/lemmatize the document.
    '''
    snowball = SnowballStemmer('english')
    return [snowball.stem(word) for word in word_tokenize(doc.lower())]


def get_vectorizer(descriptions, num_features=300):
    vect = TfidfVectorizer(max_features=num_features, stop_words='english', tokenizer=tokenize)
    return vect.fit(descriptions)


text = raw_features['use'].values
tfidf = pd.DataFrame(get_vectorizer(text).transform(text).toarray())
# raw_features = raw_features.drop(['use'], axis=1)

In [61]:
print tfidf.shape
print tfidf[tfidf.isnull()].shape
print tfidf[tfidf.notnull()].shape

(824505, 300)
(824505, 300)
(824505, 300)

In [63]:
tfidf.isnull()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824475,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824476,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824477,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824478,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824479,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824480,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824481,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824482,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824483,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824484,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824485,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824486,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824487,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824488,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824489,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824490,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824491,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824492,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824493,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824494,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824501,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824502,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824503,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
824504,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [49]:
pd.concat([raw_features, tfidf], axis=1)

,bonus_credit_eligibility,loan_amount,posted_date,use,gender,family,country,repayment_term,repayment_interval,id,...,290,291,292,293,294,295,296,297,298,299
0,0,950,2006-12-26 23:15:55,Enlarge his corral and buy feed and veterinary...,M,0,Togo,18,Monthly,3054,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
1,0,500,2007-03-30 00:36:41,"agriculture, livestock",M,0,Tajikistan,8,Monthly,7150,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
2,0,250,2007-06-05 21:21:01,Buy merchandise,M,0,Mexico,5,Monthly,11246,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
3,0,75,2007-08-02 01:40:03,growing green dragon (fruit) plants,M,0,Vietnam,7,Monthly,15342,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
4,1,1000,2007-09-28 00:05:04,to purchase a used car to operate a taxi business,1,0,Cambodia,20,Monthly,19438,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
5,0,950,2007-11-13 02:20:05,To purchase more cylinders of gas,1,0,Ecuador,12,Monthly,23535,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
6,1,600,2007-12-15 17:05:05,"To purchase peanut seeds, rice seeds, and fert...",1,0,Cambodia,20,Monthly,27631,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
7,0,975,2008-01-17 17:55:07,invest in and expand their various businesses,1,1,Peru,6,Monthly,31727,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
8,0,1075,2008-04-01 05:20:14,Continue investing in seafood at wholesale prices,M,0,Ecuador,13,Monthly,35823,...,0,0,0.000000,0,0,0.466199,0,0.000000,0,0
9,0,550,2008-03-08 19:20:14,Purchase agricultural products,1,0,Nicaragua,14,Monthly,39919,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
10,0,400,2008-04-09 21:40:14,"Purchase paint, wood and make signs",1,0,Mexico,7,Monthly,44016,...,0,0,0.000000,0,0,0.000000,0,0.565312,0,0
11,0,3550,2008-07-01 17:50:17,Kiwala Harriet plans to buy a bale of used clo...,M,1,Uganda,9,Monthly,48114,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
12,0,950,2008-06-15 23:50:12,To buy a water pump.,1,0,Bosnia and Herzegovina,14,Monthly,52211,...,0,0,0.916362,0,0,0.000000,0,0.000000,0,0
13,0,925,2008-07-14 20:30:12,"To buy more supplies of baby clothes, napkins,...",M,0,Ghana,10,Monthly,56307,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
14,0,525,2008-08-14 16:40:11,To buy more yams and rice.,1,0,Ghana,10,Monthly,60403,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
15,0,875,2008-09-10 12:30:32,To buy compost and seedlings.,M,0,Bosnia and Herzegovina,14,Monthly,64504,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
16,0,850,2008-11-01 07:00:35,"Purchase fishing net, goggles, spear, and a canoe",1,0,Samoa,14,Monthly,68612,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
17,0,475,2008-11-22 02:20:08,"to buy fertilizer, pesticide etc (Membeli pupu...",1,0,Indonesia,8,At end of term,72710,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
18,0,300,2008-11-29 17:30:13,To buy a cow to start a cattle-breeding business,1,0,Cambodia,14,Monthly,76806,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
19,0,500,2009-01-01 08:00:50,To buy holiday breads and other products.,M,0,Peru,6,Monthly,80902,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
20,0,400,2009-01-21 22:40:09,Repair of Taxi used for transportation,M,0,Kenya,14,Monthly,84998,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
21,1,400,2009-03-01 08:00:12,To buy a pump boat for her fish business.,M,0,Philippines,7,Irregularly,89094,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
22,0,1000,2009-03-10 15:40:06,purchase doors and windows,M,0,Nicaragua,13,Monthly,93190,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
23,0,500,2009-04-01 07:00:54,Buy two cows for breeding to earn more income ...,M,0,Cambodia,14,Monthly,97286,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
24,0,275,2009-04-15 16:00:07,Sale of children's clothing,1,0,Tajikistan,3,At end of term,101382,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
25,0,325,2009-04-30 17:50:07,Purchase ingredients for making food. Purchase...,1,0,Peru,6,Monthly,105478,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
26,0,1050,2009-06-01 07:00:24,"To buy white damask fabrics, caustic soda, and...",M,0,Mali,12,Irregularly,109574,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
27,0,275,2009-06-08 08:40:06,To pay part of a payment for a head of cattle.,1,0,Peru,6,Monthly,113670,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
28,1,325,2009-06-23 16:00:05,To purchase 2 sacks of fertilizer and other fa...,M,0,Philippines,7,At end of term,117766,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
29,0,1125,2009-07-14 03:30:04,To purchase livestock feed & other supplies.,1,0,Vietnam,13,Monthly,121862,...,0,0,0.000000,0,0,0.000000,0,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842812,0,1175,2012-11-16 09:10:01,to buy condiments,M,1,Mali,7,Monthly,495487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842813,0,500,2012-11-16 09:20:01,"to buy 5 lengths of pagne [traditional, colorf...",M,0,Burkina Faso,6,Monthly,495491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842814,1,2750,2012-11-16 10:30:02,to build an additional greenhouse on the vacan...,M,0,Ukraine,12,Irregularly,495223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842815,1,1275,2012-11-16 10:30:11,"To buy canned goods, sodas, bakery products, n...",1,1,Paraguay,8,Monthly,495831,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842816,1,1175,2012-11-16 10:40:01,"To buy vegetables such as lima beans, peas, po...",1,0,Peru,14,Monthly,495833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842817,1,525,2012-11-16 10:50:02,to repair the minibus.,1,0,Tajikistan,12,Monthly,495385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842818,1,650,2012-11-16 10:50:02,"To buy basic grains, instant products, sweets,...",1,0,El Salvador,21,Irregularly,495836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842819,1,800,2012-11-16 10:50:02,to buy calves.,1,0,Tajikistan,14,Monthly,495392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842820,1,450,2012-11-16 11:00:20,"To buy corn, cheese, beans, pork rind and vege...",1,0,El Salvador,21,Irregularly,495839,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842821,1,650,2012-11-16 11:00:21,To buy clothes wholesale.,1,0,El Salvador,15,Irregularly,495842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842822,1,250,2012-11-16 11:20:01,"to buy tomatoes, chili, onions, avocados and p...",1,0,El Salvador,14,Monthly,495845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842823,1,2125,2012-11-16 11:30:01,to buy shoes for women and for men.,1,1,Paraguay,6,Monthly,496072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842824,1,1500,2012-11-16 11:30:02,to purchase new tools and supplies for his ele...,M,0,Lebanon,14,Irregularly,496108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842825,1,1700,2012-11-16 11:40:01,to purchase bulls.,1,0,Tajikistan,14,Irregularly,495398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842826,1,500,2012-11-16 11:50:01,"to buy ingredients, materials and equipment to...",M,0,El Salvador,14,Monthly,495262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842827,1,1500,2012-11-16 11:50:01,to perform the necessary maintenance on his van,M,0,Lebanon,14,Irregularly,496112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842828,1,400,2012-11-16 11:50:01,to buy land for farming.,1,0,Uganda,10,Monthly,496113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842829,1,1850,2012-11-16 12:00:49,"to buy disks to make empanadas, flour, eggs, c...",1,1,Paraguay,5,Monthly,496074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842830,1,675,2012-11-16 12:00:49,to purchase a greenhouse polyethylene cover an...,M,0,Georgia,15,Irregularly,496114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842831,1,2100,2012-11-16 12:10:02,to purchase of children's and women's clothing,1,0,Tajikistan,14,Irregularly,495399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842832,1,775,2012-11-16 12:10:02,to buy flour to make figurines.,1,0,Paraguay,15,Irregularly,496092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842833,1,775,2012-11-16 12:10:02,to buy wood for carpentry.,1,0,Paraguay,15,Irregularly,496085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842834,1,2200,2012-11-16 12:20:01,buy vegetables to sell.,1,1,Paraguay,6,Monthly,496083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842835,1,2100,2012-11-16 12:30:01,to purchase cattle,1,0,Tajikistan,14,Monthly,495401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842836,1,1500,2012-11-16 12:50:02,"to purchase agricultural tools and supplies, s...",M,0,Lebanon,14,Irregularly,496115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842837,1,1500,2012-11-16 13:00:31,to purchase tobacco and hubble-bubble equipment,M,0,Lebanon,14,Irregularly,496118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842838,1,1500,2012-11-16 13:10:02,to buy new mechanic's tools.,1,0,Lebanon,14,Irregularly,496119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842839,1,1500,2012-11-16 13:20:02,to increase his selection of new mobile phones...,1,0,Lebanon,14,Monthly,496121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842840,1,1500,2012-11-16 13:20:02,"to buy more merchandise for his business, such...",M,0,Lebanon,14,Monthly,496123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842841,0,1700,2012-11-16 13:30:01,"to buy gasoline, chains, oil, and a power saw.",1,0,Chile,7,Monthly,496093,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
raw_features['use'].isnull()

0

In [59]:
tfidf.iloc[842827:842830]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 300 columns]

In [60]:
type(tfidf)

pandas.core.frame.DataFrame