In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient
import graphlab as gl
import csv
import collections
import datetime
from graphlab.toolkits.model_parameter_search import model_parameter_search
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.wordnet import WordNetLemmatizer
gl.canvas.set_target('ipynb')

[INFO] Start server at: ipc:///tmp/graphlab_server-3320 - Server binary: /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1425768281.log
[INFO] GraphLab Server Version: 1.3.0

In [2]:
client = MongoClient()
kiva = client.kiva
mongo_loans = kiva.loans
mongo_lenders_loans = kiva.lenders_loans

##Feature Engineering
This iteration will consider only text features, i.e. Tfidf of loan description.

In [ ]:
# get lenders_loans
cursor_lenders_loans = mongo_lenders_loans.find({}, {'_id':0}).sort('lender_id', 1).limit(100000)
sample_lenders_loans = pd.DataFrame(list(cursor_lenders_loans))
sample_lenders_loans.dropna(inplace=True)

In [ ]:
# create lender-loan pairs
with open('data/lenders_loans_100000.csv', 'w') as f:
    wr = csv.writer(f, delimiter=',')
    for r in sample_lenders_loans.iterrows():
        for l in r[1]['loan_ids']:
            wr.writerow([r[1]['lender_id'], l])

In [3]:
sf = gl.SFrame.read_csv('data/lenders_loans_100000.csv', header=False, delimiter=',', verbose=False)
sf.rename({'X1':'lender_id', 'X2':'loan_id'})
sf.sort('loan_id')

------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /Users/yulizhou/Documents/Projects/zipfian/Kipfian/data/lenders_loans_100000.csv
PROGRESS: Parsing completed. Parsed 1218194 lines in 0.83129 secs.

Columns:
	lender_id	str
	loan_id	int

Rows: 1218194

Data:
+----------------+---------+
|   lender_id    | loan_id |
+----------------+---------+
| NkInteractClub |  280242 |
|     am3914     |  280741 |
|    ake8008     |  280758 |
|  alistair8793  |  280758 |
|  barbara4752   |  280766 |
|   adrian9794   |  280766 |
|     am3914     |  280766 |
| aaron83574977  |  280766 |
|  alistair8793  |  280776 |
|   andrew4225   |  280781 |
|      ...       |   ...   |
+----------------+---------+
[1218194 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [5]:
# start getting text
# we only use english version
# start getting features

# get rid of no-data loans
feat_loan_id = sf['loan_id'].unique().sort()
ids = list(feat_loan_id)
temp_cursor = mongo_loans.find({'id': {'$in': ids}, 'description.texts.en': {'$exists': True}}, {'id': 1, '_id': 0})
loans_ids_exists = list(temp_cursor)
loans_ids_exists = sorted([l['id'] for l in loans_ids_exists])
diff_ids = set(ids) - set(loans_ids_exists)
sf['loan_id'] = sf['loan_id'].apply(lambda x: x if x not in diff_ids else None)
sf = sf.dropna('loan_id')

In [4]:
c=mongo_loans.find({'id': {'$in': loans_ids_exists}}, 
                   {'id': 1, 'description.texts.en': 1, '_id':0})\
                   .sort('id', 1)
raw_features = pd.DataFrame(list(c))

NameError: name 'loans_ids_exists' is not defined

In [ ]:
# define functions to lemmatize and vectorize text
def lemmatize_descriptions(descriptions):
    lem = WordNetLemmatizer()
    lemmatize = lambda d: " ".join(lem.lemmatize(word) for word in d.split())
    return [lemmatize(desc) for desc in descriptions]

def get_vectorizer(descriptions, num_features=4000):
    vect = TfidfVectorizer(max_features=num_features, stop_words='english')
    return vect.fit(descriptions)

In [ ]:
raw_features['id'] = raw_features['id'].map(lambda x: str(x))

In [ ]:
raw_features['description'] = raw_features['description'].map(lambda x: x['texts']['en'])

In [9]:
# create tfidf features
text = lemmatize_descriptions(raw_features['description'].values)
tfidf = pd.DataFrame(get_vectorizer(text).transform(text).toarray())

In [10]:
raw_features = raw_features.append(tfidf, ignore_index=True)

In [18]:
raw_features

                                              description      id
0       Nancy is 28 years old. She is a single mother ...  280242
1       Isabelita G. is from the village of Bayabo 2, ...  280741
2       Jocelyn M. is from the village of Bayabo, Tumu...  280758
3       Flora A. is from the village of Bayabo, Tumuin...  280766
4       Julita V. is from the village of Bayabo, Tumui...  280776
5       Rowena G. is from the village of Bayabo, Tumau...  280781
6       Marites P. is from the village of Bayabo, Tumu...  280785
7       Niger, who is single, has had his own business...  280872
8       This is a 34 years-old Abu Bakarr. He is marri...  281685
9       Claro Q. is from the village of Amobocan,Cauay...  281858
10      The group "El Jordan" is made up of three wome...  282115
11      Wilfredo is single, 35 years old, has no child...  282134
12      27 year-old Nasuru R.  is a businessman dealin...  282867
13      Maria G. is 58 years old, married and has thre...  283090
14      Ruben D. is from the village of Binuangan, Mis...  283141
15      Leticia O. sells hair products, body creams an...  283258
16      Grace A. sells creams and panties at Abura, ne...  283264
17      Noé, 36 years old, lives in San Miguel.  He ha...  283300
18      Paulina O. displays groceries on a able at Abu...  283313
19      For the past six years, Afia B. has been sewin...  283349
20      Mrs. Benedicta O. S. is a single mother with t...  283421
21      Fuad M. is a young gentleman who has dedicated...  283434
22      Elbrus A. is a responsible father of  four chi...  283437
23      Polad I. is a 39-year-old man who lives in the...  283462
24      This group was established through the interes...  283499
25      Ma. Isabel is a 51-year-old single woman who s...  283564
26      Pictured here are members of the “Hope To God ...  283709
27      Mrs. Nancy C. took the initiative to form this...  283899
28      This is 28 year-old S..  He is single, and has...  283935
29      Kribian del Rosario S. Velazquez is a single m...  283945
...                                                   ...     ...
401723  Janet is 42 years old and marries with 3 depen...  841679
401724  Sebastian is responsible man with a sense of s...  841680
401725  Yajaira is 22 years old and the single mother ...  841682
401726  To instruct and to teach is something admirabl...  841683
401727  "Guadalupe Chico" is made of seven hardworking...  841684
401728  La Nueva Unión Los Lobos Group is made up of s...  841686
401729  Every fifteen days the partners of Grupo de Cr...  841689
401730  Nelson, 24 years old, lives together with his ...  841690
401731  At the site of Pueblo Nuevo in the city of Por...  841693
401732  Silvia is 23 years old and is studying for a d...  841695
401733  The loan group "Divino Niño Jesus" [Divine Chi...  841712
401734  Daysy is 60 years old. She lives in her own ho...  841713
401735  The loan group "Divino Niño Jesus" [Divine Chi...  841714
401736  The communal banking group Divine Child Jesus ...  841716
401737  The Credit Group Divino Niño Jesús meets every...  841717
401738  The Communal Bank, "Divino Niño Jesús", meets ...  841719
401739  The Divino Niño Jesús Credit Group meets every...  841720
401740  The Communal Bank, "Divino Niño Jesús", meets ...  841721
401741  The Divino Niño Jesús Credit Group meets every...  841722
401742  The credit group Divino Niño Jesús [Divine Chi...  841723
401743  The credit group Divino Niño Jesús [Divine Chi...  841724
401744  The credit group Divino Niño Jesús [Divine Chi...  841725
401745  The communal bank "Jovenes Unidos" is in its f...  841756
401746  There are 18 women in the communal bank called...  841773
401747  The communal bank "Kuña Pora" is in its sevent...  841785
401748  Virgilio is from the city of Santaní, he is 45...  841799
401749  Juan is 33 years old, his partner is Nilsa, an...  841816
401750  This student comes from a modest family, her p...  841822
401751  Alma is from the city of Ita. Her father is de...  841830
401752  Nursing is not an easy profession. One needs a...  842306

[401753 rows x 2 columns]

##Train models

In [ ]:
# convert features into SFrame
# need a df!!!!!! because it's conveniet to convert to side information
loan_feature = gl.SFrame(raw_features.to_dict(orient='list'))

In [ ]:
loan_feature

In [ ]:
# split train test
train, test = gl.recommender.util.random_split_by_user(sf, user_id='lender_id', item_id='loan_id', item_test_proportion=0.2)

In [ ]:
# Train the model
models = []
regs = [0.1, 0.01, 0.001]
num_factors = range(2, 5)
for n in num_factors:
    for r in regs:
        m = gl.recommender.ranking_factorization_recommender.create(train,
                                                                    user_id='lender_id', 
                                                                    item_id='loan_id',
                                                                    item_data=,
                                                                    num_factors=n,
                                                                    regularization=r, 
                                                                    binary_target=True, 
                                                                    verbose=True)
        models.append(m)

In [4]:
df = pd.read_csv('data/loans_lenders_100000.csv', header=None)

In [6]:
df.columns = ['loan_id', 'lender_id']

In [14]:
group_by_loan = df.groupby('loan_id').count().sort('lender_id', ascending=False)
group_by_loan

         lender_id
loan_id
340316         322
340449         318
345747         315
348881         311
379677         310
344229         309
300405         296
388284         296
389670         292
362482         291
352744         291
377165         290
385551         286
345746         284
312266         283
348230         282
385557         277
317786         274
384958         273
386999         272
316574         271
377182         271
339713         268
313707         267
294886         267
389675         266
292549         265
306456         265
290228         263
374685         262
...            ...
369390           1
369403           1
350342           1
350347           1
373826           1
337187           1
293429           1
385359           1
357919           1
385228           1
362431           1
317228           1
342825           1
322046           1
305189           1
336993           1
374030           1
337023           1
337028           1
350282           1
321987           1
385109           1
310482           1
326593           1
385149           1
337089           1
385194           1
317225           1
385200           1
384221           1

[99769 rows x 1 columns]

In [58]:
group_by_loan['lender_id'].mean()

23.432178331946798

In [15]:
group_by_lender = df.groupby('lender_id').count().sort('loan_id', ascending=False)
group_by_lender

                     loan_id
lender_id
zx81                   18398
trolltech4460          17699
gooddogg1              14497
jamesclayton9485        7463
stephen3863             4532
joinFITE                4265
barbara5610             4026
emofund                 3189
don9212                 3095
laurence5353            2786
festival                2743
berliner                2665
christopher5175         2637
howard7012              2399
rebecca3499             2375
tom1045                 2343
vernon4221              2287
dariolopez              2113
fairspirit              1757
jangoyvaerts            1731
kiva6thbirthdayfund     1645
szucheng2565            1628
schaschon               1621
jillian1643             1591
jim4563                 1585
howard4162              1570
shree8053               1570
r3922                   1562
cpaleadtroy             1545
highgrovechurch         1528
...                      ...
juli5063                   1
juli6027                   1
juleen6313                 1
julee5667                  1
juho2728                   1
jule5910                   1
juho2891                   1
juho5137                   1
juho7742                   1
juidasmile                 1
juilliard1361              1
jujlsu4899                 1
jujos3685                  1
juju1508                   1
juju7715                   1
jujusage                   1
jukka1235                  1
jukka1421                  1
jukka1648                  1
jukka2895                  1
jukka2932                  1
jukka6687                  1
jukka9488                  1
julaine3258                1
julaine5493                1
julaine5693                1
julaine8854                1
julanne5595                1
jule4897                   1
zzrvmf8538                 1

[389481 rows x 1 columns]